{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/laptop.jpeg' %}" alt="">
            <div class="box-element product">
                <h5><strong>Laptop</strong></h5>
                <hr>
                <p>Description</p>
                <button class="btn btn-outline-secondary add-btn">
                    Add to the Cart
                    <img class="cart-item" src="{% static 'images/cart.png' %}" alt="">
                </button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">
                <strong>&#x20AC;2999,-</strong>
                </h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/mouse.jpeg' %}" alt="">
            <div class="box-element product">
                <h5><strong>Mouse</strong></h5>
                <hr>
                <p>Description</p>
                <button class="btn btn-outline-secondary add-btn">
                    Add to the Cart
                    <img class="cart-item" src="{% static 'images/cart.png' %}" alt="">
                </button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">
                <strong>&#x20AC;29,-</strong>
                </h4>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/headphones.png' %}" alt="">
            <div class="box-element product">
                <h5><strong>Headphones</strong></h5>
                <hr>
                <p>Description</p>
                <button class="btn btn-outline-secondary add-btn">
                    Add to the Cart
                    <img class="cart-item" src="{% static 'images/cart.png' %}" alt="">
                </button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right">
                <strong>&#x20AC;39,-</strong>
                </h4>
            </div>
        </div>
    </div>
{% endblock content %}
<!--
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<img src="{% static 'images/cart.png' %}" alt="">
-->
